#bodyChart {
    /*background: url("../images/fondoVerde3.jpg") repeat scroll 0 0;*/
    height: 258px;
    margin: -344px 0 0 272px;
    padding: 0 40px;
    width: auto;
}
.wideBox {
    background: none repeat scroll 0 0 #EBEDF2;
    border: 1px solid #333333;
    clear: both;
    line-height: 80%;
    margin-bottom: 50px;
    padding: 10px;
    text-align: center;
}
#containerChart {
    margin: 0 auto;
    width: 678px;
}
#chartData {
   /* background: url("images/fondoVerde1.PNG") repeat-x scroll 0 0 #EBEDF2;*/
    border: 1px solid #333333;
}
#chart {
    cursor: pointer;
    display: block;
    float: left;
    margin: 0 0 50px;
    width: 400px;
    height: 265px;
    /*background: url("../images/fondoVerde2.PNG")repeat scroll 0 0;*/
}
#chartData {
    background-position: 0 -100px;
    border-collapse: collapse;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
    float: right;
    margin: 25px 10px 0 0;
    width: 200px;
	background: url(../images/tail-top.gif) repeat scroll 0 0;
}
#chartData th, #chartData td {
    border: 1px dotted #666666;
    padding: 0.5em;
    text-align: left;
}
#chartData th {
    border-bottom: 2px solid #333333;
    text-transform: uppercase;
}
#chartData td {
    cursor: pointer;
}
#chartData td.highlight {
    background: none repeat scroll 0 0 #E8E8E8;
}
#chartData tr:hover td {
    background: none repeat scroll 0 0 #F0F0F0;
}