/* index.html */
#page1 #content .row-1 .col-1 {width:242px;margin-right:6px}
#page1 #content .row-1 .col-2 {width:242px;margin-right:6px}
#page1 #content .row-1 .col-3 {width:242px;margin-right:6px}
#page1 #content .row-1 .col-4 {width:242px}
#page1 #content .row-2 .col-1 {width:195px;margin-right:53px}
#page1 #content .row-2 .col-2 {width:657px}
