body{margin: 0}
a, div, h1, header, html, img, label, legend, li, nav, p, section, small, span, th, tr, ul {background:transparent;border:0 none;font-size:100%;margin:0;padding:0;border:0;outline:0;vertical-align:top}
ul {list-style:none}